@model IEnumerable<Appointly.Models.Appointment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Faculty/Shared/_Layout_Faculty.cshtml";
}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        All Meetings
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" asp-action="Meeting" asp-controller="Faculty" asp-route-id="1">Completed</a></li>
        <li><a class="dropdown-item" asp-action="Meeting" asp-controller="Faculty" asp-route-id="2">Approved</a></li>
        <li><a class="dropdown-item" asp-action="Meeting" asp-controller="Faculty" asp-route-id="3">Declined</a></li>
    </ul>
</div>

<div class="container jumbotron table table-striped">
    <div class="form-group">
        <input type="text" id="search" placeholder="Search by First Name" class="form-control" />
    </div>

    <h2>List of Meetings</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Visitor_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._To)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purpose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Response)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ap in Model)
            {
                var a = 0;
                a += 1;
                <tr class="search">

                    <td>
                        @a
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ap.Visitor_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ap._From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ap._To)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ap.Purpose)
                    </td>
                    <td>
                        <form id="@a" method="POST" asp-controller="Faculty" asp-action="Index" asp-route-id="@ap.Id"></form>
                    </td>

                    <td>
                        <textarea form="@a" class="form-control" name="Response" aria-label="With textarea"></textarea>
                    </td>
                    <td>
                        <input form="@a" name="submit" type="submit" value="Approve" class="btn btn-success"/>
                        <input form="@a" name="submit" type="submit" value="Decline" class="btn btn-danger"/>
                    </td>

                </tr>
             }
        </tbody>
    </table>
</div>